<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>


  <title>Tweet successfully sent</title>
</head>

<tbody>
	<div layout:fragment="content"><br><br>
		<th1>Tweet successfully sent</th1><br>
		<a href = "/events">
		<button type="submit" class="btn btn-success btn-lg">
      	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      	Go Back
      </button>
      </a>
	 </div>	
</tbody>
</html>